.clock {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    border:1px solid #ccc;
    position: relative;
    margin:auto;
}

.number {
  position: absolute;
  top: 44%;
  left: 48%;
  transform-origin: center;
  font-size: 1rem;
  font-weight: 300;
}

.hand {
    width:50%;
    height: 1px;
    display: block;
    position: absolute;
   top: 50%;
  right: 50%;
  transform-origin: 100% 50%; /* ← Fix here */
  transition: all 0.099s ease-in-out;
}

.hand.hour {
  width: 30%;
  height: 4px;
  background: #bbb;
}

.hand.minute {
  width: 40%;
  height: 3px;
  background: #bbb;
}

.hand.second {
  width: 45%;
  height: 2px;
  background: red;
}
.center-dot {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}